{% extends 'base.html' %}

{% block content %}
<section class="hero-section text-center">
    <h1 class="main-heading">I am a Developer</h1>
    <h2 style="font-size: 2rem; color: var(--primary-color); margin-bottom: 2rem;">Welcome to My Portfolio</h2>

    <p class="subtitle">
        Hello! I'm Subham panigrahy, an IT student passionate about full stack web development.
    </p>

    <img src="{{ url_for('static', filename='photo.jpeg') }}"
         alt="Profile Image"
         class="profile-img" />

    <p class="description">
        Explore my projects, learn about my skills, and feel free to contact me!
    </p>

    <!-- Contact Icons (Emoji) -->
    <div class="contact-icons text-center mt-2">
        <a href="subhampanigrahy05@gmail.com" title="Email" class="icon-link">📧</a>
        <a href="https://www.linkedin.com/in/subham-panigrahy-9498132b8/" target="_blank" title="LinkedIn" class="icon-link">💼</a>
      
    </div>

    <footer class="footer">
  <div class="container text-center">
    <p>© {{ 2025 }} Subham panigrahy • All rights reserved</p>
  </div>
</footer>

</section>
{% endblock %}
