{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}
<section class="hero-section text-center">
    <h1 class="main-heading">🚀 My Projects</h1>
    <p class="subtitle">Here are a few of the projects I've worked on recently. All are available on GitHub!</p>

    <div class="projects-grid">
        <!-- Project 1 -->
        <div class="project-card">
            <h3>🧮 Flask Calculator</h3>
            <p>A simple web-based calculator built with Flask that demonstrates routing, Jinja templating, and server-side logic.</p>
            <a href="https://github.com/Swayamshree220/Flask-Calculator" target="_blank" class="icon-link">🔗 GitHub</a>
        </div>

        <!-- Project 2 -->
        <div class="project-card">
            <h3>E commerce website</h3>
            <p>furniture website.</p>
            <a href="https://github.com/Subham-tech-lang/woodbuilders" target="_blank" class="icon-link">🔗 GitHub</a>
        </div>

    </div>
</section>
{% endblock %}